## 1.Kutubxonalarni import qilish

In [2]:
import numpy as np # chiziqli algebra
import pandas as pd # ma'lumotlarga ishlov berish, CSV faylini kiritish va chiqarish
import matplotlib.pyplot as plt # ma'lumotlarni vizualizatsiya qilish
import seaborn as sns # statistik ma'lumotlarni vizualiazatsiya qilish
%matplotlib inline

## 2. Ma'lumotlar to'plamini import qilish

In [4]:
data = 'data2.csv'
df = pd.read_csv(data)

## 3. Tadqiqot ma'lumotlarini tahlil qilish

In [5]:
df.shape

(104, 7)

Ma'lumotlar to'plamida 104 ta namuna va 7 ta atribut mavjudligini ko'rishimiz mumkin. Ma'lumotlar
to'plami tavsifida ma'lumotlar to'plamida 104 namuna va 7 atribut mavjudligi berilgan. Shunday qilib,
birinchi instantsiya qator sarlavhasi va ma'lumotlar to'plamida 4 ta qo'shimcha atribut mavjud degan
xulosaga kelishimiz mumkin. Keyinchalik, bu haqda ko'proq ma'lumotga ega bo'lish uchun ma'lumotlar
to'plamini ko'rib chiqishimiz kerak.

### Ma'lumotlar to'plamini ko'rish

In [6]:
df.head()

,qon_bosimi_speed,qon_bosimi_count,xolesterin,bmi,turmush_tarzi,tibbiyot_tarixi,dastlabki_holat
0,130,85,100,18,1,1,1
1,140,99,130,40,0,1,0
2,130,85,100,18,1,1,1
3,140,99,130,40,0,1,0
4,135,82,100,19,1,1,1

### Maʼlumotlar toʻplamining xulosasini koʻrish

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   qon_bosimi_speed  104 non-null    int64
 1   qon_bosimi_count  104 non-null    int64
 2   xolesterin        104 non-null    int64
 3   bmi               104 non-null    int64
 4   turmush_tarzi     104 non-null    int64
 5   tibbiyot_tarixi   104 non-null    int64
 6   dastlabki_holat   104 non-null    int64
dtypes: int64(7)
memory usage: 5.8 KB

### Ma'lumotlar to'plamida yetishmayotgan qiymatlarni tekshirish

In [8]:
df.isnull().sum()

qon_bosimi_speed    0
qon_bosimi_count    0
xolesterin          0
bmi                 0
turmush_tarzi       0
tibbiyot_tarixi     0
dastlabki_holat     0
dtype: int64

### Ortiqcha ustunlarni tashlab yuboramiz

In [10]:
df.drop(['tibbiyot_tarixi'], axis=1, inplace=True)

### Yana ma'lumotlar to'plamining umumiy ko'rinishi

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   qon_bosimi_speed  104 non-null    int64
 1   qon_bosimi_count  104 non-null    int64
 2   xolesterin        104 non-null    int64
 3   bmi               104 non-null    int64
 4   turmush_tarzi     104 non-null    int64
 5   dastlabki_holat   104 non-null    int64
dtypes: int64(6)
memory usage: 5.0 KB

Endi ma'lumotlar to'plamidan ortiqcha ustunlar olib tashlanganligini ko'rishimiz mumkin.
Ko'rishimiz mumkinki, 3 ta belgili o'zgaruvchisi (data type = object) va qolgan 9 ta raqamli o'zgaruvchilar
(data type = int64).

### Raqamli o'zgaruvchilarning statistik xulosasini ko'rish

In [12]:
df.describe()

,qon_bosimi_speed,qon_bosimi_count,xolesterin,bmi,turmush_tarzi,dastlabki_holat
count,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000
mean,138.894231,93.788462,124.086538,29.884615,0.625000,0.557692
std,14.831689,12.265409,33.220683,24.227605,0.486467,0.499066
min,122.000000,76.000000,100.000000,16.000000,0.000000,0.000000
25%,131.000000,86.000000,102.250000,19.000000,0.000000,0.000000
50%,134.000000,90.000000,111.000000,21.500000,1.000000,1.000000
75%,142.000000,99.000000,130.000000,35.250000,1.000000,1.000000
max,194.000000,156.000000,310.000000,159.000000,1.000000,1.000000

Ma'lumotlar to'plamida 3 ta toifali o'zgaruvchilar mavjud. Ularni birma-bir o'rganib chiqamiz

In [ ]:
status_id o'zgaruvchisini o'rganish