In [2]:
import pandas as pd
import numpy as np
import string
import random
import datetime

In [3]:
np.random.seed(42)
num_rows = 100
num_columns = 6
#student_id, age, course, category, date, price

In [5]:
# generate student_id
gen_student_id = []
perSent = num_rows - (num_rows//3)

for x in range(1, perSent+1):
    gen_student_id.append(x)

for _ in range(0, num_rows - perSent):
    gen_student_id.append(random.randint(1, max(gen_student_id)))

gen_student_id.sort()

In [6]:
#generate age
gen_ages = [random.randint(16, 30)]

def_item = gen_student_id[0]
for i in range(1, len(gen_student_id)):
    if gen_student_id[i] != def_item:
        gen_ages.append(random.randint(16, 30))
    else:
        gen_ages.append(gen_ages[i-1])
    def_item=gen_student_id[i]

In [7]:
course = ["HTML, CSS va Js", "Python backend", "Telegram bot", "Kotlin", "UI va UX"]

In [8]:
#generate cource
gen_courses = []

gen_course = np.random.randint(0, high=len(course), size=num_rows, dtype='l')
gen_courses = [course[i] for i in gen_course]


old_item = gen_student_id[0]
for i in range(1, len(gen_student_id)):
    if gen_student_id[i] == old_item and gen_courses[i]==gen_courses[i-1]:
        unic_cource = course[:]
        unic_cource.remove(gen_courses[i])
        gen_courses[i] = random.choice(unic_cource)
        
    if i > 1 and gen_student_id[i] == old_item and gen_student_id[i] == gen_student_id[i-1]:
        if gen_courses[i]!=gen_courses[i-2]:
            unic_cource = course[:]
            unic_cource.remove(gen_courses[i])
            unic_cource.remove(gen_courses[i-1])
            gen_courses[i] = random.choice(unic_cource)
    old_item=gen_student_id[i]

In [9]:
#generate caregory
def_category = ['Full Stack dasturlash', 'Dizayn', 'Mobile dasturlash']

gen_category = []
for i in gen_courses:
    if i == course[0] or i == course[1] or i == course[2]:
        gen_category.append(def_category[0])
    elif i == course[3]:
        gen_category.append(def_category[2])
    else:
        gen_category.append(def_category[1])

In [10]:
#generate date
base = datetime.datetime.today()
date_list = [(base - datetime.timedelta(days=x, hours=random.randint(1, 23))).strftime("%d-%m-%Y %H:%M:%S") for x in range(num_rows)]

In [11]:
#generate price of cource
prices = [100, 180, 140, 200, 150]
price_list = []

for i in gen_courses:
    price_list.append(prices[course.index(i)])

In [12]:
data = np.column_stack((gen_student_id, gen_ages, gen_courses, gen_category, date_list, price_list))

column_names = ['student_id', 'age', 'course', 'category', 'date_time', 'price']
df = pd.DataFrame(data, columns=column_names)

# CSV faylni saqlash
df.to_csv('data.csv', index=False)

In [13]:
%matplotlib inline
base = pd.read_csv('data.csv', sep=',', names=column_names) # csv faylni o'qish
base.head()

,student_id,age,course,category,date_time,price
0,student_id,age,course,category,date_time,price
1,1,16,Kotlin,Mobile dasturlash,25-03-2024 21:39:34,200
2,2,18,UI va UX,Dizayn,25-03-2024 00:39:34,150
3,3,24,Telegram bot,Full Stack dasturlash,24-03-2024 00:39:34,140
4,4,27,UI va UX,Dizayn,23-03-2024 00:39:34,150